.block{
  background-color: #aaa;
  border: solid 1px #222;
  display: inline-block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin-right: 5px;
}
.block.switch {
  background-color: blue;
}
.rect{
  background-color: grey;
  stroke-width: 2;
  pointer-events: none;
  opacity: 0.3;
}
